---
---

@import "no-style-please";

.w {
  max-width: 1000px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

body, html{
	background : #2a9d8f;
}

code {
  color: white;
  background: #2a9d8f;
}


p{
  text-align: justify;
}